
% from markdown2 import markdown
% from google.appengine.api import users
% from datetime import date
% include('header.html')
% include('navbar.html')
<div class="container-fluid">
<div class="col-xs-8">
% for post in posts:
  % content = markdown(post.content)
  <div class="panel panel-default">
    <div class="panel-heading">
    {{post.title}}
    </div>  
    <div class="panel-body">
    {{!content}}
    <table class="table">
    <tr>
    <td><i class="fa fa-lg fa-link"> </i> <a href="/posts/{{post.key.urlsafe()}}">Ссылка на пост</a></td>
    % post_date = post.date.strftime("%d-%m-%Y %H:%M")
    <td><i class="fa fa-lg fa-clock-o"> </i>{{post_date}}</td>
    % if users.is_current_user_admin():
        <td><i class="fa fa-lg fa-pencil-square-o"> </i> <a href="/edit/{{post.key.urlsafe()}}">Редактировать</a></td>
    % end
    </tr>
    </table>
    % if post.images:
    
    <div class="row">
      % for photo in post.images:
        % if photo:
          <div class="col-xs-3">
          <a href="{{photo}}" class="thumbnail" target="_blank">
          <img src="{{photo}}" />
          </a>
          </div>
    
        % end
      % end
    </div>
    
    
    % end
    </div>

    <div class="panel-footer">
    
    % for tag in post.tags:
      <span class="label label-primary">{{tag}}</span>
      
    % end
    </div>
  </div>
% end
</div>
<div class="col-xs-4">
<a class="twitter-timeline"  href="https://twitter.com/sam_banshee"  data-widget-id="506040928046301184" data-tweet-limit="10" width="800" lang="RU">Twitter: @sam_banshee</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

</div>

% include('footer.html')